<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Pirata One' rel='stylesheet'>
<style>
body {
    font-family: 'Pirata One';font-size: 24px;
}
</style>
</head>
<body>

<h1>YAAAAARRR! Welcome to Tortuga!</h1>

<ul>
  <li><a href="/parents">Ship Index</a></li>
</ul>

</body>
</html>