<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Pirata One' rel='stylesheet'>
<style>
  h1 {
    font-family: 'Pirata One', sans-serif;
    font-size: 32px;
  }
</style>
</head>
<body>

<h1>YAAAAARRR! Welcome to PirateDB!</h1>

<ul>
  <li><a href="/pirate_ships">Ship Index</a></li>
</ul>

</body>
</html>