<h1>All Crew Members</h1>

<table class="crew-members-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Missing Limbs?</th>
    </tr>
  </thead>
  <tbody>
    <% @crew_members.each do |crew_member| %>
      <tr>
        <td><%= crew_member.name %></td>
        <td><%= crew_member.age %></td>
        <td><%= crew_member.role %></td>
        <td><%= crew_member.missing_limbs %></td>
      </tr>
    <% end %>
  </tbody>
</table>